openapi: 3.0.0
info:
  version: 0.2.0
  title: eWaterCycle Experiment Launcher
  description: Webservice to generate and launch a Jupyter notebook
security:
  - BasicAuth: []
paths:
  /hello:
    post:
      summary: Notebook that prints Hello World
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HelloRequest'
        description: The notebook to create
      responses:
        '200':
          $ref: '#/components/responses/NotebookResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /opendap:
    post:
      summary: Notebook that opens an opendap URL with xarray
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpendapRequest'
        description: The notebook to create
      responses:
        '200':
          $ref: '#/components/responses/NotebookResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /threeclickscience:
    post:
      summary: Three clicks to a science usecase
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeClickScienceRequest'
        description: The notebook to create
      responses:
        '200':
          $ref: '#/components/responses/NotebookResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /bmi:
    post:
      summary: Run model on parameter set using BMI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BmiRequest'
        description: The notebook to create
      responses:
        '200':
          $ref: '#/components/responses/NotebookResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /assessment:
    post:
      summary: Run model on parameter set using BMI with an model assesment against an observation station
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentRequest'
        description: The notebook to create
      responses:
        '200':
          $ref: '#/components/responses/NotebookResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /pyewatercycle:
    post:
      summary: Run model on parameter set and forcing using eWatercycle Python package with an model assesment against an observation station
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PyewatercycleRequest'
        description: The notebook to create
      responses:
        '200':
          $ref: '#/components/responses/NotebookResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
components:
  securitySchemes:
    BasicAuth:
      type: http
      x-basicInfoFunc: ewatercycle_experiment_launcher.auth.check_auth
      scheme: basic
  responses:
      NotebookResponse:
          description: Started Jupyter server and created notebook
          content:
              application/json:
                  schema:
                      $ref: '#/components/schemas/NotebookResponse'
      ErrorResponse:
          description: Unexpected error
          content:
              application/problem+json:
                  schema:
                      $ref: '#/components/schemas/Error'
  schemas:
    NotebookRequest:
      type: object
      required:
        - directory
      properties:
        directory:
          type: string
          description: Name of directory inside Jupyter Lab
          example: somedirectory
          minLength: 1
        filename:
          type: string
          description: Name of notebook
          default: experiment.ipynb
          example: experiment.ipynb
          minLength: 1
        workspace:
          type: string
          description: >-
            Name of workspace, if absent will generate random workspace to
            prevent already in use dialog
          example: foo
          minLength: 1
          pattern: '[^/]'
      additionalProperties: false
    NotebookResponse:
      type: object
      properties:
        location:
          type: string
          format: uri
          description: URL of experiment notebook on Jupyter Hub/Lab server
      required:
        - location
      additionalProperties: false
    Error:
      type: object
      description: >-
        Problem Details for HTTP APIs, see
        https://tools.ietf.org/html/draft-ietf-appsawg-http-problem-00
      properties:
        status:
          type: integer
          format: int32
        type:
          type: string
        detail:
          type: string
        title:
          type: string
      required:
        - status
        - type
        - title
        - detail
      additionalProperties: true
    HelloRequest:
      type: object
      properties:
        notebook:
          $ref: '#/components/schemas/NotebookRequest'
      required:
        - notebook
      additionalProperties: false
    OpendapRequest:
      type: object
      properties:
        opendap:
          type: string
          format: uri
          description: URL of opendap endpoint
          example: https://thredds-test.unidata.ucar.edu/thredds/dodsC/satellite/goes16/agg/conus/01
        notebook:
          $ref: '#/components/schemas/NotebookRequest'
      required:
        - notebook
        - opendap
      additionalProperties: false
    ThreeClickScienceRequest:
      type: object
      properties:
        setup:
          type: object
          properties:
            model:
              type: string
              description: Model identifier
              example: wflow
            region:
              type: string
              description: 'Region identifier, eg. hydroshed id'
              example: donau
            period:
              type: object
              properties:
                start:
                  type: string
                  format: date-time
                end:
                  type: string
                  format: date-time
              required:
                - start
                - end
              additionalProperties: false
          required:
            - model
            - region
            - period
          additionalProperties: false
        notebook:
          $ref: '#/components/schemas/NotebookRequest'
      required:
        - notebook
        - setup
      additionalProperties: false
    BmiRequest:
      type: object
      required:
        - notebook
        - setup
      additionalProperties: false
      properties:
        notebook:
          $ref: '#/components/schemas/NotebookRequest'
        setup:
          type: object
          required:
            - model
            - datafiles
            - config
          additionalProperties: false
          properties:
            model:
              type: object
              required:
                - grpc4bmi_container
              properties:
                grpc4bmi_container:
                  type: string
                  example: 'ewatercycle/pcrg-grpc4bmi:latest'
            datafiles:
              type: object
              additionalProperties: false
              required:
                - format
                - url
              properties:
                format:
                  type: string
                  example: svn
                url:
                  type: string
                  example: >-
                    https://github.com/UU-Hydro/PCR-GLOBWB_input_example/trunk/RhineMeuse30min
            config:
              type: object
              additionalProperties: false
              required:
                - format
                - url
              properties:
                format:
                  type: string
                  example: ini
                url:
                  type: string
                  example: >-
                    https://raw.githubusercontent.com/UU-Hydro/PCR-GLOBWB_input_example/master/RhineMeuse30min/ini_and_batch_files/rapid/setup_natural_test.ini
            plotting:
              type: object
              additionalProperties: false
              required:
                - variable
                - index
              properties:
                variable:
                  type: string
                  example: discharge
                index:
                  type: number
                  example: 86
    AssessmentRequest:
      type: object
      required:
        - notebook
        - setup
      additionalProperties: false
      properties:
        notebook:
          $ref: '#/components/schemas/NotebookRequest'
        setup:
          type: object
          required:
            - model
            - datafiles
            - config
            - assessment
          additionalProperties: false
          properties:
            model:
              type: object
              required:
                - name
                - grpc4bmi_container
              properties:
                name:
                  type: string
                  description: Name of model
                  example: PCR-GLOBWB
                grpc4bmi_container:
                  type: string
                  example: 'ewatercycle/pcrg-grpc4bmi:latest'
            datafiles:
              type: object
              additionalProperties: false
              required:
                - format
                - url
              properties:
                format:
                  type: string
                  example: svn
                url:
                  type: string
                  example: >-
                    https://github.com/UU-Hydro/PCR-GLOBWB_input_example/trunk/RhineMeuse30min
            config:
              type: object
              additionalProperties: false
              required:
                - format
                - url
              properties:
                format:
                  type: string
                  example: ini
                url:
                  type: string
                  example: >-
                    https://raw.githubusercontent.com/UU-Hydro/PCR-GLOBWB_input_example/master/RhineMeuse30min/ini_and_batch_files/rapid/setup_natural_test.ini
            assessment:
              type: object
              additionalProperties: false
              required:
                - variable
                - index
                - source
                - station_id
              properties:
                variable:
                  type: string
                  description: Name of output variable of bmi model used for assesment
                  example: discharge
                index:
                  type: number
                  description: Index in the <variable> array (retrieved with bmi_model.get_value(<variable>)) that corresponds with the location of the observation station.
                  example: 86
                source:
                  description: Source of observations
                  type: string
                  enum: [grdc, usgs]
                  default: grdc
                station_id:
                  description: Station identifier for the selected source of observations.
                  type: string
                  example: '6970500'
    PyewatercycleRequest:
      type: object
      required:
        - notebook
        - setup
      additionalProperties: false
      properties:
        notebook:
          $ref: '#/components/schemas/NotebookRequest'
        setup:
          type: object
          required:
            - model
            - assessment
          additionalProperties: false
          properties:
            model:
              type: object
              required:
                - name
                - version
              properties:
                name:
                  type: string
                  description: Name of model as defined in ewatercycle.models module
                  example: PCRGlobWB
                version:
                  type: string
                  example: setters
              additionalProperties: false
            forcing:
                type: string
                description: Directory name of forcing. Directory should contain `ewatercycle_forcing.yaml` file.
                example: marrmot-m01_example_1989-1992_buffalo-river
            parameter_set:
                type: string
                description: Name of pararmeter set. Should be one of names returned by `ewatercycle.parameter_sets.available_parameter_sets()`.
                example: 'pcrglobwb_rhinemeuse_30min'
            assessment:
              type: object
              additionalProperties: false
              required:
                - variable
                - model_station_location
                - source
                - station_id
              properties:
                variable:
                  type: string
                  description: Name of output variable of model used for assesment
                  example: discharge
                model_station_location:
                  type: object
                  description: Location which matches model outlet pixel closest to observation station.
                  properties:
                    longitude:
                        type: number
                    latitude:
                        type: number
                  required:
                    - longitude
                    - latitude
                  additionalProperties: false
                source:
                  description: Source of observations
                  type: string
                  enum: [grdc, usgs]
                  default: grdc
                station_id:
                  description: Station identifier for the selected source of observations.
                  type: string
                  example: '6335020'
